$main-font-color: #fff;
$secondary-font-color: #111;

$main-theme-color: #111;
$secondary-theme-color: #2f2d2f;
//$secondary-theme-color: #2f2c2e;
$accent-theme-color: #9600b2;

$trans: rgba(0, 0, 0, 0);
