footer {
  height: 12vh;
  background-color: $secondary-theme-color;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  overflow: hidden;

  .text-holder {
    padding-left: 0.5em;
    grid-column-start: 1;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 80% 20%;
    place-items: center;
    p {
      font-family: $main-font;
      color: $main-font-color;
      font-size: clamp(15px, 2vw, 25px);
    }

    a {
      font-family: $main-font;
      text-decoration: none;
      color: $secondary-font-color;
    }
  }
  .icon-holder {
    padding-right: 1em;
    grid-column-start: 2;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 80% 10% 10%;
    place-items: center;
  }
  .twitter {
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
  }
  .discord {
    grid-column-start: 3;
    display: flex;
    flex-direction: row;
  }
}
