footer {
  height: 12vh;
  background-color: $secondary-theme-color;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  overflow: hidden;

  .text-holder {
    padding-left: 2em;
    grid-column-start: 1;
    grid-row-start: 1;
    display: flex;
    align-items: center;
    p {
      font-family: $main-font;
      color: $main-font-color;
      font-size: clamp(15px, 2vw, 25px);
    }
    a {
      font-family: $main-font;
      text-decoration: none;
      color: $secondary-font-color;
    }
  }
  .icon-holder {
    padding-right: 2em;
    grid-column-start: 2;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 90% 5% 5%;
    place-items: center;
    column-gap: 0.3vh;
  }
  .twitter {
    grid-column-start: 2;
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
      color: $main-font-color;
      font-family: $main-font;
    }
    #twitterlogo {
      width: clamp(25px, 3vw, 40px);
      height: clamp(25px, 3vw, 40px);
    }
  }
  .discord {
    grid-column-start: 3;
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
      color: $main-font-color;
      font-family: $main-font;
    }
    #discordlogo {
      width: clamp(25px, 3vw, 40px);
      height: clamp(25px, 3vw, 40px);
    }
  }
}
@media screen and (max-width: $medium) {
  footer .text-holder {
    padding-left: 1em;
  }
  footer .icon-holder {
    padding-right: 1em;
    grid-template-columns: 80% 10% 10%;
    column-gap: 0;
  }
  .twitter #twitterlogo {
    width: clamp(35px, 4vw, 50px);
    height: clamp(35px, 4vw, 50px);
  }
  .discord #discordlogo {
    width: clamp(35px, 4vw, 50px);
    height: clamp(35px, 4vw, 50px);
  }
}
@media screen and (max-width: $small) {
  footer .text-holder {
    padding-left: 0.5em;
  }
  footer .icon-holder {
    padding-right: 2em;
    column-gap: 1vh;
  }
  .twitter #twitterlogo {
    width: clamp(35px, 4vw, 50px);
    height: clamp(35px, 4vw, 50px);
  }
  .discord #discordlogo {
    width: clamp(35px, 4vw, 50px);
    height: clamp(35px, 4vw, 50px);
  }
}
