nav {
  height: 4em;
  position: fixed;
  z-index: 1030;
  transition: all 1s ease;
}
.navigation {
  overflow: hidden;
  height: 100vh;
}
.burger {
  z-index: 1030;
  cursor: pointer;
  position: fixed;
  top: 2em;
  right: 2em;
  span {
    position: relative;
    display: block;
    margin: 0.2em;
    height: 0.2em;
    width: 1.8em;
    background-color: $font-color;
  }
}
.burger-active #line1 {
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg);
}
.burger-active #line2 {
  transition: all 0.5s ease-in-out;
  margin-top: -0.4em;
  transform: rotate(-45deg);
}
.burger-active span {
  transition: all 0.5s ease-in-out;
  background-color: $font-color;
}
.navigation-menu {
  transition: all 1s ease;
  margin: 0;
  right: 0;
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 30%;
  background: linear-gradient(-90deg, $accent-color, $trans);
  z-index: 1000;
  ul {
    margin-top: 5em;
    list-style: none;
  }
  ul li a {
    transition: all 0.5s ease;
    text-decoration: none;
    color: $font-color;
    font-size: clamp(2.5rem, 0.95rem + 0.25vw, 1.25rem);
  }
  ul li a:hover {
    color: $accent-color;
    font-size: 3rem;
  }
}
@media screen and (max-width: $large) {
}
@media screen and (max-width: $medium) {
  .navigation-menu {
    width: 50%;
  }
}
@media screen and (max-width: $small) {
  .navigation-menu {
    width: 100%;
    background: linear-gradient(0deg, $trans, $accent-color);
  }
}
