@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");
::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

html {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  background-color: #111;
}

.lanindingscreen {
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-image: url("../images/HomePage/VideoEditor.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
}

.lanindingscreen h1 {
  font-size: clamp(125px, 9vw, 250px);
  text-align: center;
  color: #fff;
  font-family: "Cabin", sans-serif;
}

.quote {
  height: 15vh;
  background-color: #9600b2;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.quote h3 {
  color: #fff;
  text-align: center;
  font-family: "Taviraj", serif;
  font-style: italic;
}

.photos {
  padding-left: 10em;
  padding-right: 10em;
  height: 100vh;
  background-color: #333;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  overflow: hidden;
}

.image-holder {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.image-holder img {
  width: clamp(300px, 30vw, 600px);
}

.text-holder {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.text-holder p {
  font-family: "Cabin", sans-serif;
  color: #fff;
  font-size: clamp(23px, 3vw, 35px);
}

.text-holder span a {
  font-size: clamp(40px, 4vw, 60px);
  text-decoration: none;
  color: #9600b2;
  font-weight: bold;
}

@media screen and (max-width: 39.9375em) {
  .photos {
    overflow: hidden;
    padding-left: 3em;
    padding-right: 3em;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
  }
  .image-holder {
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .text-holder {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}

.workwith {
  height: 60vh;
  background-color: #111;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 30% 70%;
      grid-template-rows: 30% 70%;
  padding-top: 5em;
  padding-left: 10em;
  padding-right: 10em;
  padding-bottom: 5em;
}

.workwith h2 {
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: clamp(28px, 3vw, 45px);
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  z-index: 1;
}

.workwith img {
  z-index: 0;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  width: clamp(300px, 60vw, 1200px);
}

@media screen and (max-width: 39.9375em) {
  .workwith {
    height: 100vh;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 35% 32% 32%;
        grid-template-rows: 35% 32% 32%;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
  }
}

nav {
  position: fixed;
  color: #fff;
  font-family: "Cabin", sans-serif;
  height: 5em;
  width: 100%;
}

.social {
  position: absolute;
  top: 1em;
  left: 1em;
}

.social a {
  text-decoration: none;
}

#twitterlogo {
  width: 2.5%;
  height: 2.5%;
}

#discordlogo {
  width: 2.5%;
  height: 2.5%;
}

.logo {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: clamp(10px, 3vw, 35px);
}

.logo a {
  text-decoration: none;
  color: #fff;
}

.topline {
  width: 8em;
  height: 0.1em;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(#9600b2), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #9600b2, rgba(0, 0, 0, 0));
}

.burger {
  position: absolute;
  display: block;
  top: 1em;
  right: 1em;
  opacity: 1;
}

.burger div {
  width: 38px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-links {
  position: absolute;
  top: 1em;
  display: none;
  list-style: none;
  opacity: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: clamp(15px, 3vw, 45px);
  top: 25em;
}

.nav-active {
  height: 100%;
  opacity: 1;
  overflow: hidden;
}

.navlinks-active {
  right: 0;
  top: -0.6em;
  padding-top: 3em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120%;
  width: 25%;
  opacity: 1;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  background-image: -webkit-gradient(linear, right top, left top, from(#9600b2), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to left, #9600b2, rgba(0, 0, 0, 0));
  overflow: hidden;
}

#active {
  text-shadow: 2px 2px 10px #9600b2;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transition: translateY(50px);
    transition: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transition: translateY(0px);
    transition: translateY(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transition: translateY(50px);
    transition: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transition: translateY(0px);
    transition: translateY(0px);
  }
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10px);
            transform: rotateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    -webkit-transform: rotateX(-10px);
            transform: rotateX(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-8px, -6px);
          transform: rotate(45deg) translate(-8px, -6px);
}

@media screen and (max-width: 39.9375em) {
  .nav-links {
    top: 4em;
  }
  .burger {
    top: 0.5em;
    right: 0.5em;
  }
  .nav-links li a {
    font-size: clamp(30px, 5vw, 80px);
  }
  .navlinks-active {
    top: 1em;
    width: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#9600b2), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to top, #9600b2, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
  .logo {
    margin-top: 0.4em;
    font-size: clamp(20px, 4vw, 45px);
  }
  .social {
    left: 0.8em;
    top: 0.8em;
  }
  #twitterlogo {
    width: 7.5%;
    height: 7.5%;
  }
  #discordlogo {
    width: 7.5%;
    height: 7.5%;
  }
}
